/* Header */
.K2-grid {
    padding: 5px;
    text-align: center;
}

.K2-grid ul {
    clear: both;
    margin: 15px 0 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coll-3 ul li {
    width: 30%;
}

.K2-grid li {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.K2-grid li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.K2-grid li svg {
    margin: 3px 0;
    width: 35px;
    height: 35px;
    fill: #26ae61;
    display: inline-block;
}

.K2-grid li span {
    display: block;
    padding: 0 3px;
}


/* Header */


/* box */
.asdesc{position:relative;display:inline-block;width:320px;margin:0 3px 30px;padding:20px; border:1px solid #eceff1; font-size:14px;line-height:1.8em;border-radius:15px;} .asdesc h3, .asdesc h4, .asdesc b{font-size:13px;font-weight:400; margin:0;padding:2px 14px;background-color:#282828;border:1px solid #eceff1;border-radius:15px; position:absolute;top:-15.5px;left:20px;color:#fefefe;} 
.drkM .asdesc b{background-color:#252526}
.asbutton{display:inline-flex;align-items:center; margin:12px 12px 12px 0;padding:10px 15px;outline:0;border:2px; border-radius:50px;line-height:20px; color:#fefefe; background-color:#204ecf; font-size:13px;font-family:'Noto Sans', sans-serif; white-space:nowrap;overflow:hidden;max-width:100%}.asbutton.outline{color:inherit; background-color:transparent; border:1px solid #eceff1} .asbutton.outline:hover{border-color:#204ecf}
/* box */

/* blockquote */
.Blog blockquote{position:relative;font-size:.9rem;line-height:1.62em;margin-left:0;margin-right:0;padding:30px 25px;border-left:2px solid #ebeced}
.Blog blockquote.style-1{padding:30px 25px 30px 80px;border-radius:4px;border:2px solid #ebeced}
.Blog blockquote.style-1:before{content:'\201D';display:block;position:absolute;font-weight:700;font-size:60px;font-family:$(heading.font);top:7px;left:25px;line-height:normal;color:rgba(0,0,0,.15)}
.Blog blockquote.style-1 ul{font-size:97%}
/* blockquote */

/* note */
.Blog .note{position:relative;padding:20px 30px 20px 50px;background-color:#e1f5fe;color:#01579b;font-size:.87rem;line-height:1.62em;border-radius:3px}
.Blog .note:before{content:'\2605';position:absolute;left:18px;font-size:20px}
.Blog .noteAlert{background-color:#ffdfdf;color:#e65151}
.Blog .noteAlert:before{content:'\2691'}
/* note */

/* Widget FeaturedPost */
.FeaturedPost article{display:flex;align-items:center;flex-wrap:wrap;margin:0;padding:10px;position:relative;overflow:hidden}
.FeaturedPost article:after{content:'';display:block;min-width:25px;padding:4px 0;background-color:$(link.bg.colors);position:absolute;top:0;right:0;border-radius:0 0 0 3px}
.FeaturedPost .item-thumbnail{flex:0 0 auto;width:310px;margin-right:20px}
.FeaturedPost .item-content{flex:1 0;padding:8px 8px 8px 0;width:calc(100% - 330px)}
.FeaturedPost .item-label a:hover, .PopularPosts .item-label a:hover, .Label li a .label-title:hover{text-decoration:underline}
.FeaturedPost .item-title{font-size:120%;line-height:1.48em}
.FeaturedPost .item-title a, .PopularPosts .item-title a{-webkit-line-clamp:2}
.FeaturedPost .item-entry{margin-top:12px;font-size:90%}
.sidebar .FeaturedPost article{display:block;padding:0;box-shadow:none}
.sidebar .FeaturedPost .item-content{padding:15px 0 0}
.sidebar .FeaturedPost .item-title, .PopularPosts .item-title{font-size:95%}

/* Sitemap */
.Blog .sitemaps .sitemap-box{font-size:14px;line-height:1.58em}
.Blog .sitemaps .sitemap-box:not(:last-child){margin-bottom:35px;padding-bottom:25px;border-bottom:2px solid #ebeced}
.Blog .sitemaps .judul{margin-top:0;font-size:14px;color:$(text.colors)}
.Blog .sitemaps .judul:before{content:'Label: ';margin-right:5px}
.Blog .sitemaps ol{list-style:none;margin:0;padding:0;counter-reset:panduan-count}
.Blog .sitemaps li:not(:last-child){margin-bottom:10px}
.Blog .sitemaps li{display:flex}
.Blog .sitemaps li:before{content:counter(panduan-count) '.';counter-increment:panduan-count;flex-shrink:0;width:40px;font-size:22px;font-family:$(heading.font);line-height:normal;color:rgba(0,0,0,.15);}
.Blog .sitemaps li a{color:$(main.colors);font-size:90%;font-weight:700;font-family:$(heading.font)}
.Blog .sitemaps li a:after{content:'Read more';display:block;margin-top:2px;color:$(text.colors);font-size:11px;font-family:$(body.font);font-weight:400;line-height:1.58em}
.Blog .sitemaps li a:hover:after{text-decoration:underline}


/* Error 404 Page */
.error-404{display:flex;align-items:center;justify-content:center;height:100vh;text-align:center}
.error-404:before{display:none}
.error-container{margin:auto;width:90%;max-width:500px}
.error-container h3{font-size:1.414rem}
.error-container h3 span{display:block;font-size:140px;line-height:.8;margin-bottom:-2.4rem;color:#ebebf0} .dark-mode .error-container h3 span{color:rgba(0,0,0,.2)}
.error-container p{margin:15px 5% 30px;font-size:16px;line-height:1.4em}
.error-container .button{margin:0;padding:1em 2em;font-size:1em;font-weight:700;font-family:$(heading.font);line-height:1.2em}