/* Error 404 Page */
.error-404{display:flex;align-items:center;justify-content:center;height:100vh;text-align:center}
.error-404:before{display:none}
.error-container{margin:auto;width:90%;max-width:500px}
.error-container h3{font-size:1.414rem}
.error-container h3 span{display:block;font-size:140px;line-height:.8;margin-bottom:-2.4rem;color:#ebebf0} .dark-mode .error-container h3 span{color:rgba(0,0,0,.2)}
.error-container p{margin:15px 5% 30px;font-size:16px;line-height:1.4em}
.error-container .button{margin:0;padding:1em 2em;font-size:1em;font-weight:700;font-family:$(heading.font);line-height:1.2em}